@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://use.typekit.net/qrb0jox.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100vw; 
    height: 100vh; 
    max-width: 100%;
    max-height: 100%;
}


.left, .right {
    padding: 40px;
    box-sizing: border-box;
}

.left {
    background: linear-gradient(to bottom, #08C2FF, #A0DEFF);
    color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    background-color: #fff;
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho-titulo {
    font-family: 'Droog', sans-serif;
    font-size: 27px;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
    position: absolute; 
    top: 30px;  
    left: 25px; 
}

.titulo-esquerda {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.paragrafo-esquerda {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 350;
}

.paragrafo-esquerda-botao {
    font-size: 15px;
    margin-top: 80px;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.titulo-direita {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.paragrafo-direita {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ffd700;
    padding: 10px 30px 10px 30px;
}

.input-container .icon {
    position: absolute;
    left: 15px;
    font-size: 15px;
    color: #A6A6A6;
}

.input-container input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
    padding-left: 35px;
    
}

.input-container input::placeholder {
    padding-right: 1px; 
}

  

.toggle-password {
    cursor: pointer;
    font-size: 15px;
    color: #a6a6a6;
}

.login-button {
    width: 30%; 
    margin: 20px auto; 
    display: block;    
    padding: 20px; /* <- atualizado */
    border: 2px solid #ffd700;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #08C2FF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    text-decoration: none !important;
}


.login-button:hover {
    background-color: #06a6dd; 
    color: #fff;
}

.register-button {
    width: 60%; 
    margin: 20px auto; 
    display: block;    
    padding: 20px;
    border: 2px solid #ffd700;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    text-decoration: none !important;
}

.login-button,
.register-button {
    line-height: normal;
    box-sizing: border-box;
}


.social-icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 20px;
    justify-content: center;
}

.social-icons img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}


