@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/qrb0jox.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: #f0f0f0;
}

main {
    padding: 20px;
    position: flex;
}


/*Menu Lateral*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #000000;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #00bfff;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #fdf3be;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #00bfff;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/*Título*/

.cabecalho-titulo {
    font-family: 'Droog', sans-serif;
    font-size: 27px;
    color: #00bfff;
    text-align: left;
    line-height: 1.2;
    padding-left: 300px;
    margin-top: 20px;
    position: relative; 
}

.cabecalho-titulo::after {
    content: "";
    position: absolute;
    left: 0;
    margin-left: 300px;
    bottom: -9px; /* Alinhamento abaixo do texto */
    width: 800px; /* Largura da linha amarela */
    height: 1px; /* Altura da linha amarela */
    background-color: #FFF100; 
  }



/* Conteúdo */

.conteudo-formulario {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 15px; 
    color: #000; 
    position: relative;
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 300px;
}

.subtitulo {
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Espaço entre o texto e o ícone */
    margin-right: 8px; /* Para afastar do ícone, se necessário */
}


.fa-pen {
    position: relative;
    top: -2px; 
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.subtitulo-pen {
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}


.dados-pessoais-informacoes {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 50px;
    margin-left: 100px;
}

.dados-pessoais-nome-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 400px; 
    outline: none; 
  }
  
  .dados-pessoais-baixo {
    display: flex; 
    justify-content: center; 
    margin-left: -100px;
  }
  
  .dados-pessoais-telefone {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .dados-pessoais-telefone-formulario {
    border: 1px solid #FFF100; /* Define a borda amarela */
    padding: 5px 50px; /* (Opcional) Adiciona um pouco de espaçamento interno */
    outline: none; /* (Opcional) Remove o contorno padrão ao focar */
  }
  
  .dados-pessoais-datanascimento {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .dados-pessoais-datanascimento-formulario {
    border: 1px solid #FFF100; /* Define a borda amarela */
    padding: 5px 50px; /* (Opcional) Adiciona um pouco de espaçamento interno */
    outline: none; /* (Opcional) Remove o contorno padrão ao focar */
  }
  
  .dados-pessoais-sexo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .dados-pessoais-sexo-formulario {
    border: 1px solid #FFF100; /* Define a borda amarela */
    padding: 5px 50px; /* (Opcional) Adiciona um pouco de espaçamento interno */
    outline: none; /* (Opcional) Remove o contorno padrão ao focar */
  }

  .dados-pessoais-morada {
    margin-top: 100px;
  }
  
  .dados-pessoais-endereco {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 50px;
    margin-left: 100px;
  }
  
  .dados-pessoais-endereco-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 400px; 
    outline: none; 
  }
  
  .dados-endereco-abaixo {
    display: flex; 
    justify-content: center; 
  }
  
  .dados-pessoais-cep {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 110px;
  }
  
  .dados-pessoais-cep-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 50px; 
    outline: none; 
  }
  
  .dados-pessoais-numero {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 80px;
  }
  
  .dados-pessoais-numero-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 50px; 
    outline: none; 
  }
  
  .dados-pessoais-complemento {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 80px;
  }
  
  .dados-pessoais-complemento-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 40px; 
    outline: none; 
  }
  
  .dados-endereco-abaixo-secundario {
    display: flex; 
    justify-content: center; 
  }
  
  .dados-pessoais-municipio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 80px;
  }
  
  .dados-pessoais-municipio-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 45px; 
    outline: none; 
  }
  
  .dados-pessoais-uf {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 15px;
    margin-left: 80px;
  }
  
  .dados-pessoais-uf-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 40px; 
    outline: none; 
  }
  
  .dados-pessoais-usuario {
    margin-top: 90px;
    display: flex; 
    justify-content: center; 
    margin-bottom: 80px;
  }
  
  .dados-pessoais-email {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 50px;
    margin-left: 100px;
  }
  
  .dados-pessoais-email-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 70px; 
    outline: none;
  }
  
  .dados-pessoais-senha {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 14px; 
    margin-top: 50px;
    margin-left: 100px;
  }
  
  .dados-pessoais-senha-formulario {
    border: 1px solid #FFF100; 
    padding: 5px 40px; 
    outline: none;
  }



  .botao-salvar {
    background-color: #f9f04e; 
    color: #000000;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 510px;
  }
  
  .botao-salvar:hover {
    background-color: #00bfff;
  }
  

/* Rodapé */
.rodape {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    padding-left: 300px;
  }
  
  .titulo-rodape {
    font-family: 'Droog', sans-serif;
    font-size: 15px;
    color: #00bfff;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2;
  }
  
  .rodape-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-bottom: 40px;
  }
  
  .menu-hover {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  
  .menu-hover > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rodape-direcionamento {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
  }
  
  .rodape-direcionamento:hover {
    color: #00bfff;
  }
  
  .lista-escondida {
    display: none;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000000;
  }
  
  .direitos-reservados {
    font-size: 13px;
    color: #666;
    font-family: 'Poppins', sans-serif;
  }